/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 21, 2022, 6:12:51 PM
    Author     : Gabriel Inácio <gabrielinacio@id.uff.br>
*/

.users-body {
    background-color: #FBFBF8;
}

.users-content {
    width: 100%;
}